---
// Pricing page - SSR to access database for pricing cards
// Service packages are managed in admin/service-packages
// All changes sync automatically to this page
export const prerender = false;
import Layout from '../layouts/Layout.astro';
import PricingCards from '@/components/islands/PricingCards.astro';
---

<Layout title="Pricing - TimorUp">
  <div class="container py-16">
    <PricingCards />
  </div>
</Layout>
