---
// Subscribe page - subscription confirmation with offline payment
export const prerender = false;

import Layout from '../layouts/Layout.astro';
import Card from '../components/ui/Card.astro';
import CardHeader from '../components/ui/CardHeader.astro';
import CardTitle from '../components/ui/CardTitle.astro';
import CardContent from '../components/ui/CardContent.astro';
import CardFooter from '../components/ui/CardFooter.astro';
---
<Layout title="Subscribe - TimorUp">
  <div class="container py-12">
    <h1>Subscribe</h1>
  </div>
</Layout>
