---
// Create Listing page
export const prerender = false;

import Layout from '../../../layouts/Layout.astro';
---
<Layout title="Create Listing - TimorUp">
  <main class="container py-8">
    <h1>Create Listing</h1>
    <p>Create a new listing for your business or service.</p>
  </main>
</Layout>
